@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
:root {
  --color-background: #0D1117;
  --color-text: #EAEAEA;
  --color-primary: #00A8E1;
  --color-secondary: #FF1654;
  --color-highlight: #F9ED69;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

.dark-mode {
  background-color: var(--color-background);
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
}