@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0D1117;
  --text-color: #EAEAEA;
  --primary-color: #00A8E1;
  --secondary-color: #FF1654;
  --highlight-color: #F9ED69;
}

body {
  @apply bg-background text-text font-inter; /* Tailwind classes for global styles */
  background-color: var(--background-color); /* Fallback for Tailwind classes */
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

p, a, span, button, input, textarea {
  font-family: 'Inter', sans-serif;
}
